body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

#map {
    width: 80vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.content {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    font-size: 0.8em;
    margin-top: 20px;
}